/build/
/install/
/target/
/.flatpak-builder/
src/config.rs
*.ui~
*#*.ui#
/builddir/
/po/quick-video-editor.pot
/repository/
/*.flatpak
/_build/
/_repo/
/subprojects/blueprint-compiler/flatpak-build/
